parameters:
	excludePaths:
		- src/Generated/*
	ignoreErrors:
		- '#Variable \$classReflector might not be defined.#'
	ergebnis:
		classesAllowedToBeExtended:
			- WyriHaximus\Broadcast\Generated\AbstractListenerProvider

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon
