parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
				- ShipMonk\PHPStan\DeadCode\Provider\ReflectionBasedMemberUsageProvider
includes:
    - ../../extension.neon
